body {
    background-color: #f5f5f5;
}

.logo {
    background-color: #f5f5f5;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
}

/* Anfang chart div boxen für die einzelseiten */
.wuerth {
    display: flex;
    flex-wrap: wrap;
}

.wuerth div {
    background-color: #fff;
    width: 49%;
    margin: 5px;
}

.heco {
    display: flex;
    flex-wrap: wrap;
}

.heco div {
    background-color: #fff;
    width: 49%;
    margin: 5px;
}

.swg {
    display: flex;
    flex-wrap: wrap;
}

.swg div {
    background-color: #fff;
    width: 49%;
    margin: 5px;
}

/* Ende chart div boxen für die einzelseiten */

.box1 {
    flex-basis: calc(25% - 10px);
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 21px;
    border: 1px solid #a30505;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #6a77e9;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}

.container_unten {
    display: flex;
    justify-content: space-between;
}

.box_u_li {
    width: 49%;
    border: 2px solid black;
}

.box_u_re {
    width: 49%;
    border: 2px solid black;
}


.box1:not(:last-child) {
    margin-right: 10px;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.box>div {
    width: 33.33%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#barchart {
    background-color: #fff;
    margin: auto;
}

#barchart2 {
    background-color: #fff;
    margin: 3px;
}

#barchart3 {
    background-color: #fff;
    margin: 3px;
}

#barchart4 {
    background-color: #fff;
    margin: 3px;
}

#barchart5 {
    background-color: #fff;
    margin: 3px;
}

#barchart6 {
    background-color: #fff;
    margin: 3px;
}

/* Anfang Navbar mit Darkmode Switch */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #0a43fd;
    border-radius: 5px;
}

ul {
    display: flex;
    list-style: none;
}

li+li {
    margin-left: 20px;
}

ul li a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #6a77e9;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

ul li a:hover {
    background-color: #45a049;
}

a {
    display: block;
    text-decoration: none;
    color: #333;
}

.switch-container {
    position: relative;
    margin-right: 10px;
}

.switch-container label {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 50px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    cursor: pointer;
}

.switch-container label:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+label {
    background-color: #555;
}

input[type="checkbox"]:checked+label:before {
    transform: translateX(20px) translateY(-50%);
    background-color: #000;
}

.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode nav {
    background-color: #0a43fd;
    color: #fff;
}

.dark-mode a {
    color: #fff;
}

/* Dropdown Menü für die Hersteller */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 5px;
    padding: 8px 0;
    margin: 0;
    background-color: #0a43fd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    display: block;
    margin-bottom: 5px;
}

.dropdown-menu li:hover {
    color: #333;
}

/* Ende Navbar mit Darkmode Switch */